.sidemenu {
  height: 100%;
  max-width: 400px;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: 0 0 100px 0 rgba(0,0,0,0.8);

  div.sidebar-header {
    display: flex;
    padding-top: 25px;

    .toteat-icon-sidebar {
      width: 25%;
      margin-left: 25px;
    }
    
  }

  .section-container {
    padding: 30px 0px;
    margin: 0px 25px;
    border-bottom: 1px solid #DDDDDD;

    &.section-location {
      border-bottom: none;
    }
  }

  .section-title {
    color: var(--colorprincipal);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 40px;

  }

  

  .logo_sidemenu {
    color: white;
    padding-left: 25px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;

    i {
      color: var(--colorprincipal);
      float: none;
      font-size: 24px;
      margin-right: 10px;
    }

    span {
      color: white;
    }
  }

  div.ruta {
    cursor: pointer;
    font-size: 16px;
    color:#4F4F4F;
    display: flex;
    transition: 0.3s;
    margin: 20px 0px;

    i {
      margin-right: 20px;
      align-self: center;
    }

    &.active {
      font-weight: bold;
      color: var(--colorprincipal);
      i {
        color: var(--colorprincipal);
      }
    }

    &.idiomas {
      border: 1px solid #DDDDDD;
      padding: 10px;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 0px;

      i {
        align-self: normal;
      }

      .selector-icon {
        margin: 2px 3px 0px auto;
      }
    }
  }

  .idiomas-container {
    padding: 10px;
    border: 1px solid #DDDDDD;
    max-height: 150px;
    overflow: scroll;
  }
  
  .closebtn {
    position: absolute;
    top: 23px;
    right: 25px;
    border: none;
    width: auto;
    color: gray;
  }


  div.footerSidebar{
    @media (min-height: 1024px ){
      position: absolute;
    }
    bottom: 0;
    left: 0;
    padding: 30px 0px;
    margin: 0px 25px;
    color:gray;
    >div.borrarData{
      margin-top:30px;
      font-size: 0.7em;
      display: inline-block;
      max-width: 200px;
    }
  }


  div.botonesAmbiente{
    margin:10px 0;
    >span{
      cursor: pointer;
      width:60px;
      display: inline-block;
      text-align: center;
      padding:5px 10px;
      margin-right: 20px;
      background-color: gray;
      color:black;
      &.selected{
        background-color:gray;
        color:white;
      }
    }
  }
  div.GoogleAward{
    text-align: left;
    margin-top:50px;
    padding: 10px 0px;
    >img{
      width:100px;
      margin-left: 10px;
      display: block;
    }
    >a>img{
      margin-top:10px;
      width:120px;
      display: block;
    }
  }

}

